.home-container {
  margin: 20px 40px 40px 40px;
  .icon-back {
      color: #0088FF;
      font-weight: 500;
      margin-bottom: 10px;
      cursor: pointer;
      text-align: right;
      span{
          margin-left: 5px;
      }
  }
  .col-md-8-left {
    width: calc((100% - 305px));
    margin-right: 25px;
    .content-01 {
      padding: 10px 20px 10px 20px;
      .header {
        .title {
          font-size: 20px;
          font-weight: 600;
          margin: 4px 0px 20px 0px;
        }
        .sub-title {
          font-size: 14px;
          font-weight: 400;
          color: #747c87;
          margin-bottom: 15px;
        }
      }
      .content {
        text-align: center;
        .list-action {
          width: calc((100% - 150px) / 3);
          height: 270px;
          margin-right: 25px;
          margin-left: 25px;
          .icon{
              padding-top: 35px;
              padding-bottom: 15px;
          }
          .title{
            font-size: 16px;
            font-weight: 600;  
            padding-bottom: 15px;
          }
          .sub-title{
              width: 80%;
              margin: 0 auto;
              color: #747C87;
          }
          .dlv-button-save {
            align-items: center;
            width: 180px;
            margin: 0 auto;
            margin-top: 30px;
            padding: 8px;
            border: 1.5px solid #0088FF;
            border-radius: 4px;
            cursor: pointer;
            justify-content: center;
            background-color: #0088FF;
            color: white !important;
            svg {
                path {
                  fill: white !important;
                }
              }
            .separate {
              margin: 0 5px;
            }
          }
        }
      }
    }
    .content-02{
        margin-top: 20px;
        padding: 10px 0px 10px 0px;
        .header{
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            padding-left: 20px;
        }
        .content{
            .item{
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 15px;
                cursor: pointer;
                &:hover{
                    background-color: #F2F9FF;
                    .title{
                        color: #0088FF;
                    }
                }
                .img{
                    margin-right: 20px;
                }
                .content{
                    .title{
                        font-size: 15px;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }
                    .sub-title{
                        color: #7A8086;
                    }
                }
            }
        }
    }
  }
  .col-md-4-right {
    width: 280px;
    .image {
      text-align: center;
      width: 100%;
      img {
          width: 100%;
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
    .noti{
        padding: 10px 0px 10px 0px;
        .header{
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            padding-left: 20px;
        }
        .content{
            .item{
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 15px;
                cursor: pointer;
                align-items: center;
                &:hover{
                    background-color: #F2F9FF;
                    .title{
                        color: #0088FF;
                    }
                }
                .icon{
                    margin-right: 20px;
                    align-items: center;
                }
                .content{
                    .title{
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    .sub-title{
                        color: #7A8086;
                    }
                }
            }
        }
    }
    .content-02{
        margin-top: 20px;
        padding: 10px 0px 10px 0px;
        .header{
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            padding-left: 20px;
        }
        .content{
            .item{
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 15px;
                cursor: pointer;
                &:hover{
                    background-color: #F2F9FF;
                    .title{
                        color: #0088FF;
                    }
                }
                .img{
                    margin-right: 10px;
                    width: 50px;
                    height: 50px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .content{
                    width: calc((100% - 60px));
                    .title{
                        padding-right: 10px;
                        font-size: 15px;
                        font-weight: 400;
                        margin-bottom: 5px;
                    }
                    .sub-title{
                        color: #7A8086;
                    }
                }
            }
        }
    }
  }
}
