.info-customer-warpper {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    margin-top: 10px;
    .title {
      font-size: 20px;
      font-weight: 400;
      color: #212b35;
    }
   
}
  