.delivery-collation-line {
  align-items: center;
  margin: 10px 0;
  .line-name {
    width: 200px;
    color: #4F4F4F;
    font-weight: 500;
  }
  .line-value {
    width: calc(100% - 200px);
  }
}
