.top-bar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    // width: 100%;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(211, 211, 211, 0.75);
    justify-content: space-between!important;
    &_list {
      width: 100%;
      height: 59px;
      padding: 0 10px 0 0;
  
      .btn-aside {
        background: none;
        border: none;
        padding: 0;
        margin-right: 10px;
        color: #333;
        cursor: pointer;
        outline: none;
  
        svg {
          fill: #444;
        }
  
        &.show {
          svg {
            transform: rotate(180deg);
          }
        }
      }
  
      .list-page {
        position: relative;
  
        label {
          font-size: 22px;
          margin-right: 10px;
          color: #212B35;
          margin-bottom: 5px;
        }
  
        ul {
          li {
            background: #f8f8f8;
            margin-right: 7px;
            border-width: 1px;
            border-color: rgb(233, 235, 237);
            border-style: solid;
            border-radius: 8px;
            font-size: 14px;
            color: #263a53;
            padding: 4px 10px;
            height: 35px;
            cursor: pointer;
  
            img {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              overflow: hidden;
              margin-right: 3px;
              border: 1px solid #fff;
              flex-shrink: 0;
              object-fit: cover;
            }
  
            span {
              display: inline-block;
              vertical-align: middle;
            }
  
            .noti {
              height: 18px;
              background: #fa3e3e;
              font-size: 14px;
              line-height: 18px;
              color: #fff;
              display: inline-block;
              padding: 0 5px;
              vertical-align: middle;
              border-radius: 9px;
              min-width: 24px;
              text-align: center;
            }
  
            // &:hover {
            //   background: linear-gradient(180deg, #0084FF, #4697fe);
            //   border-color: #0084ff;
            //   > span {
            //     color: #fff;
            //   }
            // }
          }
        }
  
        .add-page {
          position: relative;
          background: none;
          border: 1px dashed #0084ff;
          color: #0084ff;
          font-size: 26px;
          line-height: 27px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          padding: 0;
          outline: none;
          cursor: pointer;
          position: relative;
          z-index: 1001;
          background: #fff;
  
          &:hover {
            color: #fff;
            background: #0084ff;
          }
  
          .plus {
            position: absolute;
            top: -2px;
            left: 5px;
          }
  
          .noti {
            height: 18px;
            background: #fa3e3e;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            display: inline-block;
            padding: 0 5px;
            vertical-align: middle;
            border-radius: 9px;
            min-width: 24px;
            text-align: center;
            position: absolute;
            top: -10px;
            right: -13px;
          }
  
          &:before,
          &:after {
            bottom: -9px;
            right: 10px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            display: none;
          }
  
          &:before {
            border-color: rgba(214, 214, 214, 0);
            border-bottom-color: #d6d6d6;
            border-width: 5px;
            margin-left: -5px;
          }
  
          &:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 4px;
            margin-left: -4px;
            right: 11px;
          }
  
          &[aria-expanded="true"] {
  
            &:before,
            &:after {
              display: block;
            }
          }
        }
  
        .overlay {
          position: fixed;
          z-index: 3;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          top: 0;
          left: 0;
        }
  
        &.list-page-reported {
          ul {
            position: relative;
  
            li {
              .arrow-down {
                border: 5px solid transparent;
                border-top: 5px solid #263a53;
                margin-top: 8px;
              }
  
              &:hover {
                .arrow-down {
                  border-top-color: #fff;
                }
              }
  
              &.dropdown-menu {
                background: #fff;
                border: 1px solid #ddd;
                border-radius: 5px;
                position: absolute;
                left: 0 !important;
                top: 38px !important;
                transform: none !important;
                min-width: 200px;
                padding: 6px 0;
                height: auto;
  
                &:after,
                &:before {
                  bottom: 100%;
                  left: 25px;
                  border: solid transparent;
                  content: " ";
                  height: 0;
                  width: 0;
                  position: absolute;
                  pointer-events: none;
                }
  
                &:after {
                  border-color: rgba(255, 255, 255, 0);
                  border-bottom-color: #fff;
                  border-width: 4px;
                  margin-left: -4px;
                  right: 11px;
                }
  
                &:before {
                  border-color: rgba(214, 214, 214, 0);
                  border-bottom-color: #d6d6d6;
                  border-width: 5px;
                  margin-left: -5px;
                }
  
                ul {
                  li {
                    display: flex;
                    margin-right: 0;
                    border: none;
                    border-radius: 0;
                    background: none;
                    align-items: center;
                    height: auto;
  
                    &:hover {
                      background: #0084ff;
  
                      span {
                        color: #fff;
                      }
                    }
  
                    img {
                      width: 25px;
                      height: 25px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 3px;
                      border: 1px solid #fff;
                      flex-shrink: 0;
                      object-fit: cover;
                    }
  
                    span {
                      display: inline-block;
                      vertical-align: middle;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
          }
        }
      }
  
      h1 {
        font-size: 22px;
        color: #212b35;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: 5px;
      }
  
      .btn-submit {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        border-radius: 5px;
        height: 38px;
        padding: 0 42px;
        cursor: pointer;
        border: 1px solid #0084ff;
        background: linear-gradient(180deg, #0084ff, #4697fe);
        box-shadow: inset 0 1px 0 0 #1391ff;
  
        &:hover {
          background: linear-gradient(180deg, #4697fe, #0084ff);
        }
      }
  
      .btn-export {
        font-size: 14px;
        font-weight: 400;
        width: 98px;
        height: 34px;
        padding: 0 15px;
        margin-right: 20px;
        border: 1px solid #0084ff;
        background: linear-gradient(180deg, #0084ff, #4697fe);
        box-shadow: inset 0 1px 0 0 #1391ff;
  
        &:hover {
          background: linear-gradient(180deg, #4697fe, #0084ff);
        }
      }
    }
  
    .user {
      border-bottom: none;
      position: relative;
      margin-right: 13px;
      margin-left: 17px;
      padding: 1px;
      flex-shrink: 0;
  
      &:after {
        content: "";
        width: 1px;
        height: 40px;
        background: #E3E9ED;
        position: absolute;
        left: -17px;
        top: 50%;
        transform: translateY(-50%);
      }
  
      a {
        position: relative;
  
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          flex-shrink: 0;
          object-fit: cover;
  
          &.status-warning {
            position: absolute;
            width: 14px;
            height: 14px;
            bottom: -10px;
            right: -5px;
            z-index: 1;
          }
        }
        .status {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #c50000;
          position: absolute;
          right: -4px;
          bottom: -10px;
          box-sizing: border-box;
  
          &.active {
            background: #47D55E;
            border: 1px solid #FFFFFF;
          }
  
          &.inactive {
            background: #CDCCCC;
            border: 1px solid #FFFFFF;
          }
        }
        .noti {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          color: #fff;
          background: #f4574c;
          position: absolute;
          left: 28px;
          top: 9px;
          text-align: center;
          line-height: 18px;
          font-size: 11px;
        }
      }
  
      &.show,
      &:hover,
      &:focus {
        background: rgba(255, 255, 255, 0.1);
  
        a {
          color: #fff;
        }
      }
  
      .button-support {
        display: block;
        text-align: center;
  
        i {
          font-size: 15px;
          color: #333;
        }
  
        span {
          display: block;
          font-size: 13px;
          color: #333;
          font-weight: 400;
        }
      }
  
      .dropdown-menu, 
      .dropdown-menu-more{
        position: absolute;
        width: 350px;
        border: 1px solid #dddddd;
        background: #fff;
        box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.5);
        right: 0;
        left: auto !important;
        top: 39px !important;
        transform: none !important;
        padding: 0;
        margin: 0;
  
        &:after,
        &:before {
          right: 5px;
          top: -18px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
  
        &:before {
          border-color: transparent;
          border-bottom-color: #ddd;
          border-width: 9px;
        }
  
        &:after {
          border-color: transparent;
          border-bottom-color: #fff;
          border-width: 7px;
          right: 7px;
          top: -14px;
        }
  
        &.dropdown-support {
          box-shadow: #c6c6c6 0 0 10px 5px;
          border: none;
          right: -25px;
          top: 50px !important;
  
          &:after {
            right: 40px;
            border-bottom-color: #f3f6f8;
          }
  
          &:before {
            right: 39px;
          }
        }
  
        .info {
          padding: 8px 17px 8px 12px;
          //border-bottom: 1px solid #e5e5e5;
  
          .avatar {
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            position: relative;
            margin-right: 15px;
  
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
  
            .status {
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #c50000;
              position: absolute;
              right: -2px;
              bottom: 3px;
              box-sizing: border-box;
  
              &.active {
                background: #47D55E;
                border: 1px solid #FFFFFF;
              }
  
              &.inactive {
                background: #CDCCCC;
                border: 1px solid #FFFFFF;
              }
            }
          }
  
          p {
            font-size: 15px;
            font-weight: 500;
            color: #5c5c5c;
            line-height: 22px;
          }
  
          span {
            display: block;
            font-size: 14px;
            line-height: 22px;
            color: #c50000;
  
            &.active {
              color: #47D55E;
            }
  
            &.inactive {
              color: #CDCCCC;
            }
          }
          .toggle-status-online{
            display: flex;
            align-items: center;
            width: 140px;
            button{
              margin-left: auto;
              &.active{
                background-color: #47D55E;
                .handle{
                  background-color: #fff;
                  border: 1px solid #C4C4C4;
                }
              }
            }
            span {
              display: block;
              font-size: 14px;
              line-height: 22px;
              color: #c50000;
    
              &.active {
                color: #47D55E;
              }
    
              &.inactive {
                color: #CDCCCC;
              }
            }
          }
  
          .logout-action {
            cursor: pointer;
          }
        }
  
        .good {
          background: #eef9ed !important;
  
          .status {
            font-size: 14px;
            color: #06b036 !important;
            font-weight: 500;
          }
        }
  
        .authorization {
          //border-bottom: 1px solid #e5e5e5;
          margin: 7px;
          padding: 8px 15px 8px 10px;
          position: relative;
          cursor: pointer;
          color: #212B35;
          border-radius: 6px;
          background: #fde9ed;
  
          .status-content {
            margin-left: 10px;
  
            .auth-status {
              color: #212b35;
              font-size: 14px;
            }
          }
  
          .status {
            font-size: 14px;
            color: #f02849;
            font-weight: 500;
          }
  
          //svg {
          //  width: 24px;
          //  height: 24px;
          //  margin-right: 12px;
          //  flex-shrink: 0;
          //}
        }
  
        img {
          width: 24px;
          margin-right: 12px;
          -ms-flex-negative: 0;
          flex-shrink: 0;
        }
  
        &.good {
          p {
            font-size: 15px;
            font-weight: 500;
            color: #5c5c5c;
            line-height: 22px;
          }
  
          span {
            display: block;
            font-size: 14px;
            line-height: 22px;
            color: #c50000;
          }
  
          .arrow-right {
            background: #fff;
            position: absolute;
            top: 50%;
            right: 15px;
  
            &:after,
            &:before {
              left: 100%;
              top: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
  
            &:before {
              border-color: rgba(186, 186, 186, 0);
              border-left-color: #bababa;
              border-width: 6px;
              margin-top: -6px;
            }
  
            &:after {
              border-color: rgba(255, 255, 255, 0);
              border-left-color: #fff;
              border-width: 3px;
              margin-top: -3px;
            }
          }
        }
  
        .feedback {
          margin: 0 7px 2px;
          padding: 8px 11px;
          color: #212B35;
          cursor: pointer;
          font-size: 14px;
  
          .feedback-content {
            margin-left: 18px;
  
            .title {
              font-weight: 500;
            }
          }
        }
  
        ul {
          padding: 8px 0;
  
          .new-features {
            span {
              background: #fa3e3e;
              font-size: 14px;
              border-radius: 10px;
              color: white;
              padding: 0 8px 1px 8px;
              margin-left: 5px;
              text-decoration: inherit;
              text-decoration-color: #fa3e3e;
            }
          }
  
          li {
            border: none;
            padding: 3px 0;
  
            a {
              font-size: 15px;
              color: #5c5c5c;
              padding: 4px 17px;
            }
  
            &:hover,
            &:focus {
              background: #f5f6f7;
            }
          }
        }
  
        .change-version {
          padding: 8px 0px 8px 12px;
          font-size: 14px;
          line-height: 1.8;
          cursor: pointer;
  
          &:hover {
            background: #f9f9f9;
          }
  
          .content-icon {
            margin: 10px 20px 10px 5px;
            position: relative;
  
            span {
              position: absolute;
              width: 10px;
              height: 10px;
              background: #E3404A;
              border-radius: 50%;
              right: -3px;
              top: 1px;
            }
          }
  
          .content-text {
            .txt-title {
              font-weight: 500;
  
              .txt-hot {
                color: #fff;
                background-color: #E3404A;
                padding: 2px 5px;
                margin-left: 5px;
                border-radius: 4px;
              }
            }
          }
        }
  
        .action-control {
          border-top: 1px solid #D3D3D3;
  
          .item {
            padding: 5px 10px;
            color: #212B35;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
  
            &:hover {
              background: #f9f9f9;
            }
  
            svg {
              margin-right: 10px;
            }
  
            .new-features {
              .count-new {
                background: #E3404A;
                color: #FFF;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-align: center;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
